.commentContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .answers {
    width: 100%;
    height: 80px;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}
